.homeContainer {
  .heading {
    font-weight: 600;
  }
  .boxesWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .homeCategoryBox {
      flex: 1;
      padding: 20px;
      text-align: center;
      margin: 10px;
      span {
        font-size: 21px;
        font-weight: 700;
      }
    }
    .div-2-list {
      padding: 0px 15px 5px 0px;
    }
    .homeBox {
      flex: 1;
      margin: 10px;
      .box .title {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        color: #ffffff;
        position: relative;
        min-height: 40px;
        margin: 0;
        background: #ffa502;
        background-image: -webkit-linear-gradient(
          -29deg,
          #c50d0c 0,
          #125fb6 100%
        );
      }
      li {
        padding: 5px 0px;
        cursor: pointer;
      }
      a {
        display: block;
        padding: 5px 0px;
        color: rgb(5, 24, 193);
        &:hover,
        &:focus {
          font-weight: 600;
        }
      }
      // a {
      //   color: rgb(59, 153, 236);
      //   font-style: italic;
      //   &::before {
      //     content: "...";
      //   }
      // }
    }
  }
}
